*{
padding:0 ;
margin: 0;
box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
h2{
    color: blue;
}
#main{
    height: 400px;
    width: 100%;
    border: 2px solid red;
}
#main .card{
    border: 2px solid green;
    height: 300px;
    width: 100px;
}
#main .card p{
    color: cadetblue;
    font: 30px;
}
.card{
    border: 2px solid green;
    height: 300px;
    width: 200px;
}
